<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - About</title>
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'careersbanner.html' %}
    <div class="container">
      
      <h1 class="text-center mt-2 mb-4">What is Gutenkraft?</h1>
      <p class="lead">
    		Gutenkraft is a non-profit technology research and development (R&D) outfit focused on tackling problems in developing nations using technology. The name is a portmanteau word for 'good strength or good force'. We will work to create and implement a  technology driven blue-print that the developing world could use to handle her problems and reduce perpetual reliance on foreign aid. The aim is to drive growth and advancement for sustainable improvement of living standards by innovating on and adapting technologies to develop and deploy the necessary building blocks of key growth infrastructures. This is codified in our mission and vision.
    	</p>

      <h2 class="text-center mt-2 mb-4">Our Mission:</h2>
    	<p class="lead" align="justify">
    		<em>
    			To make national infrastructures and technology solutions sustainable and affordable for developing nations.
    		</em>
    	</p>

      <h2 class="text-center mt-2 mb-4">Our Vision:</h2>
    	<p class="lead" align="justify">
    		<em>
    			To produce affordable and sustainable world class infrastructure technology solutions on a large scale.
    		</em>
    	</p>
      
    </div>
    {% include 'footer.html' %}
  </body>
</html>