<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - About</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  about page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/morden_conference_room_7.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    <div class="container">
      
      <h1 class="text-center mt-2 mb-4">What is Gutenkraft?</h1>
      <p class="lead">
        Gutenkraft Research (Also known as Gutenkraft Technology Research) is a research and engineering outfit, specializing in infrastructure technology solutions for developing nations. Gutenkraft, a portmanteau word meaning "good strength," reflects our commitment to providing robust and effective solutions for growth and improved quality of living.
        
        Traditional infrastructure components are often cumbersome, difficult to deploy, and costly to maintain, hindering development efforts. To address these challenges, we are developing a technology-driven blueprint designed to empower developing nations to build sustainable infrastructure by innovating and adapting technologies to create essential infrastructure components. This mission is central to Gutenkraft's vision.
    	</p>

      <h2 class="text-center mt-2 mb-4">Our Mission:</h2>
    	<p class="lead" align="justify">
    		<em>
    			To make national infrastructure technology solutions sustainable and affordable for developing nations.
    		</em>
    	</p>

      <h2 class="text-center mt-2 mb-4">Our Vision:</h2>
    	<p class="lead" align="justify">
    		<em>
    			To produce world-class, affordable and sustainable infrastructure technology solutions on a large scale.
    		</em>
    	</p>

      <h2 class="text-center mt-2 mb-4">Our Operations</h2>
      <p class="lead">
          We have seven operational focus areas (Ops) that we consider essential to our objectives and projects. Each op consists of a grouping of talents/skills specfic to it and which serve as in-house sounding-board that players in each project consult or enlist in. Expertise from various ops unit, would occassionally be pooled towards implementing solutions for specific problem of focus in a Gutenkraft project. Find out more below.
      </p>

      <div class="text-center">
          <a href="/ops" type="button" class="btn btn-outline-dark align-middle">Explore Gutenkraft Ops ></a>
      </div>
      
    </div>
    {% include 'footer.html' %}
  </body>
</html>