<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Algorithm Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  digart op page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/programmers_at_work_6.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    
    <div class="container">
      <h2 class="text-center mt-2 mb-4">Algorithm Ops</h2>
      <div class="lead">
        <p>
          This division specializes in cultivating advanced proficiency in algorithmic development and implementation across both
          general-purpose computing and embedded systems platforms. The focus is to develop competence in software
          engineering, with particular emphasis on programming expertise and algorithmic optimization.
        </p>
    
        <p>
          Additionally, we aim to maintain mastery of industry-standard DevOps methodologies to ensure seamless software deployment in production environments.
        </p>
      </div>
      <div class="text-center">
        <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Interest%20in%20Gutenkraft's%20lab%20Algorithm%20Ops">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>