<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - CAD&M Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  cadnm op page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/cadm_zmorph_all_in_one_3d_printers.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    
    <div class="container">
      <h2 class="text-center mt-2 mb-4">Computer aided design and manufacturing (CAD&M) Ops</h2>
      <div class="lead">
        <p>
            The focus of this op is <em>to muster and/or develop expertize in Open source Electronic design automation (EDA) and 2D/3D CAD softwares for fabless semiconductor development and design of precision engineered systems respectively</em>. An initial focus will be on EDA tools such as, 
        </p>
    
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/KiCad" target="_blank">KiCAD</a></li>
            <li><a href="https://librepcb.org/LibrePCB" target="_blank">LibrePCB</a></li>
        </ul>
    
        <p>For CAD&M initial tool of focus include,</p>
        
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/FreeCAD" target="_blank">FreeCAD</a></li>
        </ul>

        <p>
          The recent breakthroughs with machine learning (ML) especially in Generative Artifical Intelligence (AI), creates a whole new level of possibilities in terms of competence augmentation. In the CAD/M space, <a href="https://formlabs.com/uk/blog/generative-design/" target="_blank"><em>Generative Design</em></a>, which can be used to create and evaluate a wide range of design options based on design requirements(constraints) and objectives, can reveal innovative concepts and reduce time and cost of design.  At Gutenkraft, the CAD&M Op is also focused on developing compentence in the generative design space to leverage AI systems in driving innovation and eficiency in the solution design.
        </p>
    
        <p>
            The above focus would make it handy for Gutenkraft to quickly develope system prototypes and provide workable blueprints/schematics, IP cores/netlists and etching masks for mechanical and semicondutor hardware production respectively.
        </p>
      </div>
      <div class="text-center">
        <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Interest%20in%20Gutenkraft's%20lab%20CAD%2FM%20Ops">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>