<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - CAD&M Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'careersbanner.html' %}
    <div class="container">
      <h2 class="text-center mt-2 mb-4">Computer aided design and manufacturing (CAD&M) Ops</h2>
      <div class="lead">
        <p>
            The focus of this op is <em>to muster and/or develop expertize in Open source Electronic design automation (EDA) and 2D/3D CAD softwares for fabless semiconductor development and design of precision engineered systems respectively</em>. An initial focus will be on EDA tools such as, 
        </p>
    
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/KiCad" target="_blank">KiCAD</a></li>
            <li><a href="https://librepcb.org/LibrePCB" target="_blank">LibrePCB</a></li>
        </ul>
    
        <p>For CAD&M initial tool of focus include,</p>
        
        <ul>
            <li><a href="https://en.wikipedia.org/wiki/FreeCAD" target="_blank">FreeCAD</a></li>
        </ul>

        <p>
          The recent breakthroughs with machine learning (ML) especially in Generative Artifical Intelligence (AI), creates a whole new level of possibilities in terms of competence augmentation. In the CAD/M space, <a href="https://formlabs.com/uk/blog/generative-design/" target="_blank"><em>Generative Design</em></a>, which can be used to create and evaluate a wide range of design options based on design requirements(constraints) and objectives, can reveal innovative concepts and reduce time and cost of design.  At Gutenkraft, the CAD&M Op is also focused on developing compentence in the generative design space to leverage AI systems in driving innovation and eficiency in the solution design.
        </p>
    
        <p>
            This would be handy for quickly developing system prototypes and providing workable blueprints or schematics, core IP and etching masks for semicondutor and other hardware production.
        </p>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>