<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Careers</title>
  </head>
<body>
  {% include 'header.html' %}
  <!--  careers page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/engineer_at_work_thisisengineering_raeng.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
  
  <div class="container">
    
    <h1 class="text-center mt-2 mb-4">Gutenkraft Careers</h1>
    <div class="row" style="margin-bottom:16px;">
      <div class="col-md-6">
        <p class="lead">
          We have seven operational focus areas (Ops) that are considered essential to meeting the objectives of our projects. Each op consists of a group of expertise specfic to it. Job roles listed here would often be associated with one of the unit. Find out more about each unit and get a sense of  what we are looking for.
        </p>
        <div class="text-center">
            <a href="/ops" type="button" class="btn btn-outline-dark align-middle">Explore Gutenkraft Ops ></a>
        </div>
      </div>
      
      <div class="d-none d-md-block col-md-6">
        <img class="img-fluid" src="/static/people.jpg" style="height:320px;border-radius:4px;">
      </div>
    </div>
    
    <h2 class="text-center mt-2 mb-4">Latest Job Openings</h2>
    <div>
      <!--{{jobs}} -->
      {% if jobs|length %}
        {% for job in jobs %}
          {% include 'jobitems.html' %}
        {% endfor %}
      {% else %}
        {% include 'nojobitems.html'%}
      {% endif %}
    </div>
    <div class="text-center">
      <!--<button class="btn btn-primary btn-lg">Contact Us</button> -->
      <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Inquiry%20on%20job%20openings&body=Name%3A%20%3CType%20in%20your%20full%20name%3E%0D%0AQuestion%3A%20%3CType%20in%20your%20question%20here%3E">Contact Us</a>
    </div>
  </div>
      {% include 'footer.html' %}
</body>
</html>