<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft Careers</title>
  </head>
<body>
  {% include 'header.html' %}
  {% include 'careersbanner.html' %}
  <div class="container">
    
    <h1 class="text-center mt-2 mb-4">Gutenkraft Careers</h1>
    <div class="row" style="margin-bottom:16px;">
      <div class="col-md-6">
        <p class="lead">
          Roles at Gutenkraft revolve around seven operational focus areas (Ops) that are considered essential to meeting objectives of projects. Each op consists of a grouping of talents/skills specfic to the it and would serve as in-house sounding-board that players in each project can consult or enlist. Expertise and skills developed or mustered in each ops unit, would occassionaly work in concert towards implementing solutions for specific problem of focus in a Gutenkraft project. The number of ops may be updated from time to time depending on org wide focus and development of new expertise. These includes
        </p>
      </div>
      <div class="d-none d-md-block col-md-6">
        <img class="img-fluid" src="/static/people.jpg" style="height:320px;border-radius:4px;">
      </div>
    </div>
    
    <h2 class="text-center mt-2 mb-4">Gutenkraft Ops</h2>
    {% include 'opslist.html' %}
    
    <h2 class="text-center mt-2 mb-4">Latest Job Openings</h2>
    <div>
      <!--{{jobs}} -->
      {% for job in jobs %}
        {% include 'jobitems.html' %}
      {% endfor %}
    </div>
    <div class="text-center">
      <!--<button class="btn btn-primary btn-lg">Contact Us</button> -->
      <a class="btn btn-dark btn-lg" href="mailto:people@gutenkraft.com?subject=Inquiry%20on%20job%20openings&body=Name%3A%20%3CType%20in%20your%20full%20name%3E%0D%0AQuestion%3A%20%3CType%20in%20your%20question%20here%3E">Contact Us</a>
    </div>div/>
  </div>
      {% include 'footer.html' %}
</body>
</html>