<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Data Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'careersbanner.html' %}
    <div class="container">
      <h2 class="text-center mt-2 mb-4">Data Ops</h2>
      <p align="justify">
          The usual troupe about data is along the line of data being the 'new oil'. This is stated as a testament to it's value in revealing actionable insight for both good and bad purposes. But such insight reveal opportunities for introducing efficiencies to the systems from which there were collected.
      </p>
  
      <p align="justify">
          The data ops unit is focused  on <em>data warehousing and analytics</em> for creating models to ensure better understanding as well as to seek out opportunities to make systems much efficient.
      </p>
    </div>
    {% include 'footer.html' %}
  </body>
</html>