<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Data Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  data op page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/control_center_6.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    
    <div class="container">
      <h2 class="text-center mt-2 mb-4">Data Ops</h2>
      <div class="lead">
        <p>
          Data is frequently compared to oil in modern discourse, highlighting its immense value in generating actionable insights
          that can be leveraged for various purposes. These insights illuminate opportunities to optimize and enhance the
          efficiency of the systems from which the data originates.
        </p>
    
        <p>
          Our Data Operations team specializes in data warehousing and analytics, developing sophisticated models to deepen our understanding of systems and identify opportunities for operational efficiency improvements.
        </p>
      </div>
      <div class="text-center">
        <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Interest%20in%20Gutenkraft's%20lab%20Data%20Ops">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>