<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Data Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  data op page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/control_center_6.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    
    <div class="container">
      <h2 class="text-center mt-2 mb-4">Data Ops</h2>
      <div class="lead">
        <p>
            The usual troupe about data is along the line of data being the 'new oil'. This is stated as a testament to it's value in revealing actionable insight for both good and bad purposes. But such insight reveal opportunities for introducing efficiencies to the systems from which there were collected.
        </p>
    
        <p>
            The data ops unit is focused  on <em>data warehousing and analytics</em> for creating models to ensure better understanding as well as to seek out opportunities to make systems much efficient.
        </p>
      </div>
      <div class="text-center">
        <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Interest%20in%20Gutenkraft's%20lab%20Data%20Ops">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>