<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Digital Art Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  digart op page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/digital_tablet_work_cece_kun.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    
    <div class="container">
      <h2 class="text-center mt-2 mb-4">Digital Art Ops</h2>
      <div class="lead">
        <p>
            This op is <em>focused on developing and / or mustering expertize in digital audio and visual art </em> in areas that are relevant to functional Industrial design, animation, audio mastering and game development.
        </p>
    
        <p>
            This op is important for clear specification and prototyping of potential solutions developed at Gutenkraft Labs.
      </p>
      </div>
      <div class="text-center">
        <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Interest%20in%20Gutenkraft's%20lab%20Digital%20Art%20Ops">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>