<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Digital Art Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  digart op page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/cgi_artist_8.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    
    <div class="container">
      <h2 class="text-center mt-2 mb-4">Digital Art Ops</h2>
      <div class="lead">
        <p>
          This ops focuses on cultivating advanced expertise in digital audio and visual arts, specifically as they relate to industrial design functionality, animation, audio mastering, and game development.
        </p>
    
        <p>
            This specialized knowledge is essential for precise specification development and solution prototyping at Gutenkraft Research.
      </p>
      </div>
      <div class="text-center">
        <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Interest%20in%20Gutenkraft's%20lab%20Digital%20Art%20Ops">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>