<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Embedded Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  embed op page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/embed_board_image_5.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    <div class="container">
      
      <h2 class="text-center mt-2 mb-4">Embedded Ops</h2>
      <div class="lead">
        <p>
            The  embedded ops unit focuses on the development of electronic solutions involving the cobbling together of hardware and software to create systems that specialize in doing specifc tasks. Also, in focus is the exploration of new frontiers in processer archtecture design. 
        </p>
    
        <p>
            Today, embedded systems are central to the functionality of tools needed for smooth human day to day operations from those in microwave ovens, washing machines, smartphones to those in cars, industial machines and avionics in aeroplanes. Embedded systems are almost always present and their ubiquity is about to be turbo-charged by mass adoption of the Internet of things (IoTs) at the heart of smart systems (such as smart cities and smart electricity grids) as wells as in Industry 4.0 applications supported by super wireless networks from 5G and beyond. 
        </p>
    
        <p>
          In view of the centrality of embedded systems to electronics and smart solutions, the embedded ops unit's objective is <em>to develop/muster and deploy embedded systems skills to solve problems at the heart of a Gutenkraft projects</em>, where needed.
        </p>
    
        <p>Focus areas for the op unit include the application of custom or off-the-shelf electronic hardware such as,</p>
    
        <ul>
            <li>Single board microcontollers or computers (SBM/C) or system-on-chip (SoC) computers such as <a href="https://en.wikipedia.org/wiki/Arduino" target="_blank">Arduino</a>, <a href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Raspberry Pi</a>, <a href="https://en.wikipedia.org/wiki/BeagleBoard" target="_blank">Beaglebones</a>, <a href="https://en.wikipedia.org/wiki/Nvidia_Jetson" target="_blank">Nvidia Jetson boards</a>, e.t.c,</li>
            <li>Application specific integrated chips (<a href="https://en.wikipedia.org/wiki/Application-specific_integrated_circuit" target="_blank">ASICs</a>) boards and</li>
            <li>Field programmable gate array (<a herf="https://en.wikipedia.org/wiki/Field-programmable_gate_array" target="_blank">FPGA</a>) boards.</li>
        </ul>
    
        <p>as well as exploring and using open source processor IP designs such as</p>
    
        <ul> 
            <li>The <a href="https://en.wikipedia.org/wiki/RISC-V" target="_blank">RISC-V</a> instruction set architecture (ISA).</li>
        </ul>
        
    
        <p>On the software side, the focus is on portable Linux kernels and real-time operating systems (RTOS) softwares such as</p>
    
        <ul>
            <li><a href="https://elinux.org/Main_Page" target="_blank">Embedded Linux</a>, Specifically <a href="https://en.wikipedia.org/wiki/Yocto_Project" target="_blank">Yocto</a> custom builds.</li>
            <li><a href="https://en.wikipedia.org/wiki/FreeRTOS" target="_blank">FreeRTOS</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/Zephyr_(operating_system)" target="_blank">Zephyr</a> and,</li>
            <li>Any other promising open source RTOS.</li>
        </ul>
    
        <p>and embedded system application software programming tools such as</p>
    
        <ul>
            <li><a href="https://www.electronicshub.org/basics-of-embedded-c-program/" target="_blank">Embedded C language</a> and <a href="https://microcontroller.com/Embedded_Compilers/" target="_blank">compilers</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/Rust_(programming_language)" target="_blank">Rust language</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/Qt_(software)" target="_blank">Qt</a>,</li>
            <li>Python language? (Yes that Python) and</li>
            <li>HDLs such as <a href="https://en.wikipedia.org/wiki/Verilog" target="_blank">Verilog</a> and <a href="https://en.wikipedia.org/wiki/VHDL" target="_blank">VHDL</a>.</li>
            <li>Robot operating system (<a href="https://en.wikipedia.org/wiki/Robot_Operating_System" target="_blank">ROS</a>) software framework.</li>
        </ul> 
    
        <p>All of the above mentioned focus areas would be geared towards developing reliable and low cost electronic solutions.</p>
      </div>
      <div class="text-center">
        <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Interest%20in%20Gutenkraft's%20lab%20Embedded%20Ops">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>