<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Embedded Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  embed op page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/embedded_sys_engineer_at_work_10.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    <div class="container">
      
      <h2 class="text-center mt-2 mb-4">Embedded Ops</h2>
      <div class="lead">
        <p>
          The Embedded Ops Unit specializes in developing electronic solutions by integrating hardware and software to create
          systems designed for specific tasks. The unit's focus includes programming, system bring-up and re-engineering/remanufacturing of embedded systems. Also, the Ops would explore innovative frontiers in processor architecture design.
        </p>
    
        <p>
          Embedded systems are now central to everyday functionality, powering devices ranging from microwave ovens and washing
          machines to smartphones, industrial machinery, and avionics. Their ubiquity is set to expand dramatically with the mass
          adoption of the Internet of Things (IoT), enabling smart systems like intelligent cities, advanced electricity grids,
          and Industry 4.0 applications supported by next-generation wireless networks. 
        </p>
    
        <p>
          Recognizing the critical importance of embedded systems in electronics and smart solutions, the Embedded Ops Unit aims
          to develop, cultivate, and deploy embedded systems skills to address challenges with electronic systems in Gutenkraft projects.
        </p>
    
        <p>The unit's focus areas include:</p>
        
        <h4>Hardware Components:</h4>
        <ul>
            <li>Single board microcontrollers/computers (SBM/C) (<a href="https://en.wikipedia.org/wiki/Arduino" target="_blank">Arduino</a>)</li>
            <li>System-on-chip (SoC) computers (<a
              href="https://en.wikipedia.org/wiki/Raspberry_Pi" target="_blank">Raspberry Pi</a>, <a
              href="https://en.wikipedia.org/wiki/BeagleBoard" target="_blank">Beaglebones</a>, <a
              href="https://en.wikipedia.org/wiki/Nvidia_Jetson" target="_blank">Nvidia Jetson boards</a> and custormized SoCs)</li>
            <li>Application specific integrated chips (<a href="https://en.wikipedia.org/wiki/Application-specific_integrated_circuit" target="_blank">ASICs</a>) boards</li>
            <li>Field programmable gate array (<a herf="https://en.wikipedia.org/wiki/Field-programmable_gate_array" target="_blank">FPGA</a>) boards</li>
        </ul>
    
        <h4>Architecture and Operating System:</h4>
        <ul> 
            <li>Open-source processor IP designs ( <a href="https://en.wikipedia.org/wiki/RISC-V" target="_blank">RISC-V</a> instruction set architecture)</li>
            <li>Portable <a href="https://elinux.org/Main_Page" target="_blank">Embedded Linux</a> kernels, (specifically <a href="https://en.wikipedia.org/wiki/Yocto_Project" target="_blank">Yocto</a> custom builds)</li>
            <li>Real-Time Operating Systems (<a href="https://en.wikipedia.org/wiki/FreeRTOS" target="_blank">FreeRTOS</a>, <a href="https://en.wikipedia.org/wiki/Zephyr_(operating_system)" target="_blank">Zephyr</a> and other promising open-source RTOS)</li>
        </ul>
    
        <h4>Programming Languages and Tools:</h4>
        <ul>
            <li><a href="https://www.electronicshub.org/basics-of-embedded-c-program/" target="_blank">Embedded C language</a> and <a href="https://microcontroller.com/Embedded_Compilers/" target="_blank">compilers</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Rust_(programming_language)" target="_blank">Rust language</a></li>
            <li><a href="https://en.wikipedia.org/wiki/Qt_(software)" target="_blank">Qt</a> framework</li>
            <li>Python programming language</li>
            <li>Hardware description languages (<a href="https://en.wikipedia.org/wiki/Verilog" target="_blank">Verilog</a> and <a href="https://en.wikipedia.org/wiki/VHDL" target="_blank">VHDL</a>)</li>
            <li>Robot operating system (<a href="https://en.wikipedia.org/wiki/Robot_Operating_System" target="_blank">ROS</a>) software framework</li>
        </ul> 
    
        <p>The ultimate goal is to develop reliable and cost-effective electronic solutions across various domains while reducing e-waste.</p>
      </div>
      <div class="text-center">
        <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Interest%20in%20Gutenkraft's%20lab%20Embedded%20Ops">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>