<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm fixed-top bg-white">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="/static/gk_research_logo.png" alt="Logo"  class="img-fluid d-inline-block" style="height:122px;object-fit: cover;">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight">
      <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      
      <div class="offcanvas-body">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/careers">Careers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div> 
    
  </div>
</nav>
<div style="height:149px;"></div>