<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Reimagining Infrastructure Technology, Driving Development</title>
  </head>
  <body>
    {% include 'header.html' %}
    {% include 'homebanner.html' %}
    
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Reimagining National Infrastructure Technology</h1>
      
      <div class="row" style="margin-bottom:16px;">
        
        <p class="lead text-center">
          Gutenkraft Research is  <em>reassessing technologies behind national infrastructures. Through research and development efforts </em>, we focus on creating novel systems that are cost-effective, sustainable and scalable.
        </p>
        <!-- link to about page -->
        <div class="text-center">
          <a href="/about" type="button" class="btn btn-outline-dark align-middle">Explore Gutenkraft Labs</a>
        </div>
        
      </div>

      <div class="row" style="margin-bottom:16px;">
        
        <div class="col-md-6">
          <h2 class="text-center mt-2 mb-4">Inspiring National Development.</h2>
          <p class="lead">
           We are developing innovative approaches to reduce capital cost and improve maintainability for the entire infrastructure life cycle. These efforts produces a viable approach that attracts capital for necessary national facilities, driving economic activity and improving quality of life. 
          </p>
          <!-- link to projects page-->
          <div class="text-center">
            <a href="/projects" type="button" class="btn btn-outline-dark align-middle">Learn More</a>
          </div>
        </div>
        
        <div class="d-none d-md-block col-md-6">
          <img class="img-fluid" src="/static/city_physical_infra_7.jpg" style="height:320px;border-radius:4px;" alt="modern city with advanced infastructures">
        </div>
        
      </div>
      
      <div class="row" style="margin-bottom:16px;">

        <div class="d-none d-md-block col-md-6">
          <img class="img-fluid" src="/static/morden_compass_and_map_1.jpg" style="height:320px;border-radius:4px;" alt="map and compass image by alexander andrew on unsplash">
        </div>
        
        <div class="col-md-6">
          
          <h2 class="text-center mt-2 mb-4">Our Mission.</h2>
          <p class="lead">
            To make national infrastructure technology solutions sustainable and affordable for developing nations.
          </p>
          
          <h2 class="text-center mt-2 mb-4">Our Vision.</h2>
          <p class="lead">
            To produce world-class, affordable and sustainable infrastructure technology solutions on a large scale.
          </p>
        </div>
        
      </div>
      
    </div>
        {% include 'footer.html' %}
  </body>
</html>