<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft Careers</title>
  </head>
<body>
  {% include 'header.html' %}
  {% include 'banner.html' %}
  <div class="container">
    <h1 class="text-center mt-2 mb-4">Gutenkraft Careers</h1>
    <div class="row" style="margin-bottom:16px;">
      <div class="col-md-6">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi eget mauris pharetra et ultrices neque ornare aenean. Sit amet mauris commodo quis imperdiet massa. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis nisl. Cursus metus aliquam eleifend mi in nulla. Felis imperdiet proin fermentum leo vel orci porta non pulvinar. Lobortis mattis aliquam faucibus purus in. Ultrices gravida dictum fusce ut placerat. Quam elementum pulvinar etiam non. Sit amet porttitor eget dolor morbi non arcu. Nullam ac tortor vitae purus. Tortor consequat id porta nibh venenatis cras.
        </p>
      </div>
      <div class="d-none d-md-block col-md-6">
        <img class="img-fluid" src="/static/people.jpg" style="height:320px;border-radius:4px;">
      </div>
    </div>
    <h2 class="text-center mt-2 mb-4">Job Openings</h2>
    <div>
      <!--{{jobs}} -->
      {% for job in jobs %}
        {% include 'jobitems.html' %}
      {% endfor %}
    </div>
    <div class="text-center">
      <!--<button class="btn btn-primary btn-lg">Contact Us</button> -->
      <a class="btn btn-dark btn-lg" href="mailto:people@gutenkraft.com?subject=Inquiry%20on%20job%20openings&body=Name%3A%20%3CType%20in%20your%20full%20name%3E%0D%0AQuestion%3A%20%3CType%20in%20your%20question%20here%3E">Contact Us</a>
    <div/>
  </div>
      {% include 'footer.html' %}
</body>
</html>