<div class="row border-bottom" style="margin-bottom:16px;">
  <div class="col-9">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px;">Embedded Ops</h4>
    <div class="lead">
      Work on programmable  electronics, single-board-computers and robots.
    </div>
  </div>
  <div class="col-3">
    <a href="/ops/embed_op" type="button" class="btn btn-outline-dark float-right align-middle">Explore</a>
  </div>
</div>

<div class="row border-bottom" style="margin-bottom:16px;">
  <div class="col-9">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px;">Signals & connectivity (S&C) Ops</h4>
    <div class="lead">
      Develop wireless systems, signal processing and communication networks.
    </div>
  </div>
  <div class="col-3">
    <a href="/ops/snc_op" type="button" class="btn btn-outline-dark float-right align-middle">Explore</a>
  </div>
</div>

<div class="row border-bottom" style="margin-bottom:16px;">
  <div class="col-9">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px;">Computer aided design and manufacturing (CAD&M) Ops</h4>
    <div class="lead">Design electronic and mechanical systems as a memeber of this op group. </div>
  </div>
  <div class="col-3">
    <a href="/ops/cadnm_op" type="button" class="btn btn-outline-dark float-right align-middle">Explore</a>
  </div>
</div>

<div class="row border-bottom" style="margin-bottom:16px;">
  <div class="col-9">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px;">Algorithm Ops</h4>
    <div class="lead">Research and program methods for automating stuffs.</div>
  </div>
  <div class="col-3">
    <a href="/ops/algo_op" type="button" class="btn btn-outline-dark float-right align-middle">Explore</a>
  </div>
</div>

<div class="row border-bottom" style="margin-bottom:16px;">
  <div class="col-9">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px;">Data Ops</h4>
    <div class="lead">Make sense of data. Find patterns and extract functions for modelling systems.</div>
  </div>
  <div class="col-3">
    <a href="/ops/data_op" type="button" class="btn btn-outline-dark float-right align-middle">Explore</a>
  </div>
</div>

<div class="row border-bottom" style="margin-bottom:16px;">
  <div class="col-9">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px;">Simulation Ops</h4>
    <div class="lead">Develop methods to vividly model and explore systems virtually.</div>
  </div>
  <div class="col-3">
    <a href="/ops/sim_op" type="button" class="btn btn-outline-dark float-right align-middle">Explore</a>
  </div>
</div>

<div class="row" style="margin-bottom:16px;">
  <div class="col-9">
    <h4 style="color:rgb(120, 120, 120); margin-bottom:4px;">Digital Art Ops</h4>
    <div class="lead">Work on digital media systems.</div>
  </div>
  <div class="col-3">
    <a href="/ops/digart_op" type="button" class="btn btn-outline-dark float-right align-middle">Explore</a>
  </div>
</div>