<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/knowledge_orb_dollar_gill.jpg" class="img-fluid rounded-start" alt="Lensball">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">KAI</h5>
        <p class="card-text">An A.I voice assistant with text prompt capabilities. It is built by relying on generative A.I, specifically transformer based large language  models (LLM) for natural language processing. The vision is to develop it into a powerful natural-language computer user interface (NL-UI) like Tony Stark (Ironman's) A.I. assistant J.A.R.V.I.S.</p>
        <a href="/resources/kaito" class="btn btn-dark">Try it</a>
      </div>
    </div>
  </div>
</div>