<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Projects</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  resource page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/projects1_zmorph_all_in_one_3d-printers.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    
    <div class="container">
      
      <h1 class="text-center mt-2 mb-4">Gutenkraft Projects</h1>
      <!--{% include 'maintenancenotice.html' %}-->
      {% include 'projects_list.html' %}
      
    </div>
    {% include 'footer.html' %}
  </body>
</html>