
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="/static/kai_banner_img_daniel_lerman.jpg" class="card-img-top" alt="image of large binoculars">
      <div class="card-body">
        <h5 class="card-title">KAITO: Knowledge-sourcing A.I Tool</h5>
        <p class="card-text">
          Take advantage of generative artificial intelligent (A.I.), to probe for knowledge and augment research efficiently. You can ask questions using either voice or text prompts.
        </p>
        <a href="/resources/kaito" class="btn btn-dark align-middle">Use</a>
      </div>
    </div>
  </div>
</div>