<!DOCTYPE html>
<html>
  <head>
    {% include 'headcontent.html' %}
    <title>Gutenkraft - Sim Ops</title>
  </head>
  <body>
    {% include 'header.html' %}
    <!--  sim op page banner -->
    <img class="img-fluid" id ="banner-pic" src="/static/engineer_at_work_on_scientific_sim_7.jpg" style="width: 100%; height: 360px; object-fit: cover; margin-bottom: 16px;">
    
    <div class="container">
      
      <h2 class="text-center mt-2 mb-4">Simulation Ops</h2>
      <div class="lead">      
        <p>
            Sim Ops specializes in the development and implementation of scientific models and computer-generated imagery (CGI) to
            create sophisticated, user-friendly physics engines. Our primary objective is to establish a comprehensive virtual
            environment that enables validated research studies and informs technology product development.
        </p>
    
        <p>
            Additionally, we incorporate gamification elements to facilitate game-based learning (GBL), promoting deeper
            understanding of fundamental concepts essential to technological innovation.
        </p>
      </div>
      <div class="text-center">
        <a class="btn btn-dark btn-lg" href="mailto:v.ocheri@outlook.com?subject=Interest%20in%20Gutenkraft's%20lab%20Simulation%20Ops">Contact Us</a>
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>